In [23]:
import numpy as np
import pandas as pd
from selenium import webdriver as wd
from bs4 import BeautifulSoup as bs
import requests
from datetime import datetime as dt

In [17]:
main_url = "http://asp1.krx.co.kr/servlet/krx.asp.XMLSiseEng?code="
#http://marketdata.krx.co.kr/mdi#document=040601

In [18]:
feature_names=['day_date', 'code', 'day_low', 'day_high', 'day_start', 'day_endprice', 'day_dungrak', 'day_getdebi', 'day_volume', 'day_getamount']

In [19]:
stock_code = pd.read_csv('code_data.csv')

In [20]:
stock_code.head()

,번호,종목코드,기업명,업종코드,업종,상장주식수(주),자본금(원),액면가(원),통화구분,대표전화,주소,총카운트,Unnamed: 12
0,1,95570,AJ네트웍스,147603,산업용 기계 및 장비 임대업,"46,822,295","46,822,295,000","1,000",원(KRW),02-6363-9999,"서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)",789,NaN
1,2,68400,AJ렌터카,147601,운송장비 임대업,"22,146,300","11,073,150,000",500,원(KRW),1544-1600,서울특별시 구로구 서부샛길 822,789,NaN
2,3,6840,AK홀딩스,116409,기타 금융업,"13,247,561","66,237,805,000","5,000",원(KRW),02-768-2923,서울특별시 마포구 양화로 188 -,789,NaN
3,4,27410,BGF,116409,기타 금융업,"95,716,791","95,716,791,000","1,000",NaN,1577-3663,서울특별시 강남구 테헤란로 405,789,NaN
4,5,282330,BGF리테일,74701,종합 소매업,"17,283,906","17,283,906,000","1,000",원(KRW),02-1577-8007,서울특별시 강남구 테헤란로 405 BGF사옥,789,NaN

In [21]:
code_data = []

for i in range(len(stock_code)):
    str_code = str(stock_code['종목코드'][i])
    str_code = str_code.zfill(6)
    code_data.append(str_code)

In [22]:
code_data[0:5]

['095570', '068400', '006840', '027410', '282330']

In [23]:
#code_data = ["005930", "000660", "005380", "035420", "068270"]

In [24]:
stock_data = []

In [25]:
for code in code_data:
    target_url = main_url+str(code)
    response = requests.get(target_url)
    soup = bs(response.content, 'lxml')
    data = soup.dailystock.attrs
    day_date = data['day_date']
    del data['day_date']
    for key in data.keys():
        data[key]=int(data[key].replace(',',''))
    data['day_date'] = day_date
    data['code'] = code
    stock_data.append(data)

In [26]:
stock_info = pd.DataFrame(stock_data, columns=feature_names)

In [27]:
stock_info.shape

(789, 10)

In [28]:
stock_info.head()

,day_date,code,day_low,day_high,day_start,day_endprice,day_dungrak,day_getdebi,day_volume,day_getamount
0,19/10/18,095570,4295,4380,4360,4325,2,45,48377,209656110
1,19/10/18,068400,10750,10950,10900,10800,5,100,84762,918810250
2,19/10/18,006840,33250,34100,33600,33250,5,500,13104,439123000
3,19/10/18,027410,6160,6250,6230,6210,5,10,69637,432925150
4,19/10/18,282330,191500,197000,197000,192500,5,2000,11630,2251149500